{% extends 'base.html' %}
{% load static %}

{% block title %}{{ content_type|title }} List{% endblock %}

{% block content %}
    <h1>{{ content_type|title }} List</h1>
    <div class="content-grid">
        {% for content in page_obj %}
            <div class="content-item">
                <a href="{% url 'movies:content_detail' content.id %}">
                    {% if content.poster_url %}
                        <img src="{{ content.poster_url }}" alt="{{ content.title }}" class="content-poster">
                    {% endif %}
                    <h2>{{ content.title }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% else %}
                <span class="disabled">&laquo; First</span>
                <span class="disabled">Prev</span>
            {% endif %}

            {% for num in pages_to_show %}
                {% if num == '...' %}
                    <span class="dots">...</span>
                {% else %}
                    <a href="?page={{ num }}" class="{% if num == page_obj.number %}current{% endif %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% else %}
                <span class="disabled">Next</span>
                <span class="disabled">Last &raquo;</span>
            {% endif %}
        </span>
    </div>

    <!-- Additional Sections -->
    <div class="advertisement">
        <p>Advertise with us! Contact us for more information.</p>
        <a href="{% url 'movies:advertise' %}">Click here for more details</a>
    </div>

    <div class="ysense-referral">
        <a href="https://www.ysense.com/?rb=128255493" target="_blank" class="ysense-link">
            <p>Check out this great offer from Ysense!</p>
            <img src="{% static 'images/ysense.jpeg' %}" alt="Ysense Referral">
            
        </a>
    </div>
    
{% endblock %}








