{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<article>
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Feel free to reach out to us through the following methods:</p>
    <ul>
        <li><strong>Email:</strong> <a href="mailto:support@mymoviesite.com">support@mymoviesite.com</a></li>
        <li><strong>Phone:</strong> (123) 456-7890</li>
    </ul>
    <p>Follow us on social media:</p>
    <div class="social-icons">
        <a href="https://twitter.com" target="_blank">&#x1F426;</a> <!-- Twitter Icon -->
        <a href="https://facebook.com" target="_blank">&#x1F465;</a> <!-- Facebook Icon -->
        <a href="https://instagram.com" target="_blank">&#x1F47E;</a> <!-- Instagram Icon -->
    </div>
</article>
{% endblock %}

